/*****************************************************/
/**
  *
  * DESKTOP (COPY)
  *
  */
$break-point: 700px;
$break-point-plus-one: 701px;

@media only screen and (min-width: $break-point-plus-one) {
  .mobile-menu,
  .nav-btn,
  .nav-menu-close-btn {
    display: none;
  }
  .content-wrapper-header {
    border: 2px solid hotpink;
  }
  .desktop-menu {
    border: 2px solid purple;
    
    .nav-menu-list {
      padding: 0;
      margin: 0;
      border: 2px solid red;

      .nav-menu-item {
        display: inline-block;
        border: 2px solid aqua;

        .nav-menu-link {
          border: 2px solid green;

        }
      }
    }
  }
}


/*****************************************************/
/**
  *
  * MOBILE (COPY)
  *
  */
@media only screen and (max-width: $break-point) {
  $small-screen-menu-open-width: 320px;
  * {
    box-sizing: border-box;
  }
  .desktop-menu {
    display: none;
  }
  .nav-mask,
  .nav-menu {
    position: fixed; 
  }

  // Disable scrolling of main content when the menu is active (COPY)
  .nav-mask,
  body.has-active-menu {
    overflow: hidden; 
  } // End disable scrolling of main content when the menu is active 

  // General styling of the navigation menu (COPY)
  .nav-menu {
    z-index: 200;

  } // End general styling of the navigation menu 

  // Button styling (COPY)
  .nav-btn,
  .nav-menu-close-btn {
    cursor: pointer;

  }

  .nav-btn {
    
  }

  .nav-menu-close-btn {
    
  }
  // End button styling

  // Start Menu List Styles (COPY)
  .nav-menu-list {

  }

  .nav-menu-item {

  }
  // End Menu Item Styles





  /*****************************************************/
  /**
    *
    * MASK (COPY)
    *
    */

  .nav-mask {
    z-index: 199;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity .3s,width 0s .3s,height 0s .3s;
    transition: opacity .3s,width 0s .3s,height 0s .3s; 
  }

  .nav-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: .7;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; 
  }

  /**
    *
    * END MASK
    *
    */
  /*****************************************************/





  /*****************************************************/
  /**
    *
    * GENERAL ANIMATIONS (COPY)
    *
    */

  // General animation of the content wrapper
  .content-wrapper {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
  } // End general animation of the content wrapper


  // General animation of the navigation slide 
  .nav-menu {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s; 
  }
  // End general animation of the navigation slide 

  /**
    *
    * END GENERAL ANIMATIONS
    *
    */
  /*****************************************************/






  /************** COPY THE DESIRED MENU ACTION BELOW **************/


  /*****************************************************/
  /**
    *
    * SLIDE LEFT
    *
    */
  // General styling of the navigation menu when it slides in from left or right
  .nav-menu-slide-left {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    height: 100%;
    border: 2px solid red;
    // General styling of the navigation links on left and right menu
    .nav-menu-link {
      border: 2px solid aqua;

    }
    // General styling of the close button on left and right menu
    .nav-menu-close-btn {
      border: 2px solid green;

    }
  }
  @media only screen and (min-width: $small-screen-menu-open-width) {
    .nav-menu-slide-left {
      width: 300px; 
    }
  } // End general styling of the navigation menu when it slides in from left or right
  .nav-menu-slide-left {
    top: 0;
    left: 0;
    // Pushes the content off the page when not active
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); 
  }

  @media only screen and (min-width: $small-screen-menu-open-width) { 
    .nav-menu-slide-left {
      -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
      transform: translateX(-300px); 
    } 
  }
  // Slides the content onto the page when activated
  .nav-menu-slide-left.is-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); 
  }
}